<section>
  <h1>ホーム</h1>
  <p><%= notice %></p>
    <%= link_to '新しく投稿する', new_mypost_path, class:"btn-flat-border" %>

  <table class="myposts_list">
    <tr>
      <th class="line1">投稿日時</th>
      <th class="line2">投稿内容</th>
    </tr>
  <% @mypost.each do |mypost| %>
    <tr>
      <td><%= mypost.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      <td><%= mypost.content %></td>
      <td><%= link_to "編集", edit_mypost_path(mypost.id) %></td>
      <td><%= link_to "削除", mypost_path(mypost.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %></td>
    </tr>
  <% end %>
  </table>
</section>
