<!DOCTYPE html>
<html>
  <head>
    <title>Mypost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="btn-border-bottom">
          MYPOST
        </div>
        <div class="icon">
          <a class="btn-social-square btn-social-square--facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="btn-social-square btn-social-square--hatebu">
            B!
          </a>
          <a class="btn-social-square btn-social-square--feedly">
            <i class="fa fa-rss"></i>
          </a>
        </div>
      </header>

      <%= yield %>

      <footer>
        <p>運営会社XXX株式会社</p>
        <p>© 2020 XXXXXXXXXXX Corp.</p>
      </footer>
    </div>
  </body>
</html>
